<a href="https://colab.research.google.com/github/araujosantos-yasmin/atividades_curso_/blob/main/manipula_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Leitura de JSON com Pandas**

In [ ]:
import pandas as pd

In [ ]:
pd.read_json("https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json").head()
# 1. Adota método '.read_json' para ler arquivo tipo JavaScript Object Notation
# 2. Aplica a função '.head()' para conhecer os cinco primeiros registros

         data     valor
0  04/06/1986  0.065041
1  05/06/1986  0.067397
2  06/06/1986  0.066740
3  09/06/1986  0.068247
4  10/06/1986  0.067041

ETAPA DE CAPTURA E TRANSFORMAÇÃO/ PADRONIZAÇÃO DOS DADOS

In [ ]:
df_selic = pd.read_json("https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json") #Armazenameno da leitura do arquivo JSON em uma variável

print(df_selic.info()) # Print das informações da variável pela função '.info()'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9235 entries, 0 to 9234
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    9235 non-null   object
 1   valor   9235 non-null   float64
dtypes: float64(1), object(1)
memory usage: 144.4+ KB
None

REMOVER LINHAS DUPLICADAS

In [ ]:
df_selic.drop_duplicates(keep='last', inplace=True)
# 1. Método '.drop_duplicates' para remover linhas duplicadas
# 2. Parâmetro 'keep = 'last'' para manter a última ocorrência da linha duplicada
# 3. Parâmetro 'inplace = True' para a alteração ser salva diretamente no Dataframe

CRIAR NOVAS COLUNAS

In [ ]:
from datetime import date
from datetime import datetime as dt

data_extracao = date.today() # Variável armazena o método que fornece a data de extração das informações

df_selic['data_extracao'] = data_extracao # A data das extrações é adicionada a uma coluna
df_selic['responsavel'] = "Autora"

print(df_selic.info())
df_selic.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9235 entries, 0 to 9234
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   data           9235 non-null   object
 1   valor          9235 non-null   float64
 2   data_extracao  9235 non-null   object
 3   responsavel    9235 non-null   object
dtypes: float64(1), object(3)
memory usage: 360.7+ KB
None

         data     valor data_extracao responsavel
0  04/06/1986  0.065041    2023-04-06      Autora
1  05/06/1986  0.067397    2023-04-06      Autora
2  06/06/1986  0.066740    2023-04-06      Autora
3  09/06/1986  0.068247    2023-04-06      Autora
4  10/06/1986  0.067041    2023-04-06      Autora

MÉTODO TO_DATETIME() E ASTYPE()

In [ ]:
df_selic['data'] = pd.to_datetime(df_selic['data'], dayfirst=True) # Coluna 'data' foi convertida para formato Datetime pelo método '.to_datetime' # Começa com o dia
df_selic['data_extracao'] = df_selic['data_extracao'].astype('datetime64[ns]') # Coluna 'data_extração' já está em formato Datetime. # '.astyp
e' formata em convenção (ano primeiro)

print(df_selic.info())
df_selic.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9235 entries, 0 to 9234
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   data           9235 non-null   datetime64[ns]
 1   valor          9235 non-null   float64
 2   data_extracao  9235 non-null   datetime64[ns]
 3   responsavel    9235 non-null   object
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 360.7+ KB
None

        data     valor data_extracao responsavel
0 1986-06-04  0.065041    2023-04-06      Autora
1 1986-06-05  0.067397    2023-04-06      Autora
2 1986-06-06  0.066740    2023-04-06      Autora
3 1986-06-09  0.068247    2023-04-06      Autora
4 1986-06-10  0.067041    2023-04-06      Autora

SERIES.STR

In [ ]:
df_selic['responsavel'] = df_selic['responsavel'].str.upper()

df_selic.head()

 #ao selecionar uma coluna, que é uma serie, se aplica o método .upper() a todos os seus objetos
 # todos se tratam de uma string, que é especificada: '.str.upper()' e o método é passado a todos os valores

        data     valor data_extracao responsavel
0 1986-06-04  0.065041    2023-04-06      AUTORA
1 1986-06-05  0.067397    2023-04-06      AUTORA
2 1986-06-06  0.066740    2023-04-06      AUTORA
3 1986-06-09  0.068247    2023-04-06      AUTORA
4 1986-06-10  0.067041    2023-04-06      AUTORA

MÉTODO SORT_VALUES()

In [ ]:
df_selic.sort_values(by='data', ascending=False, inplace=True)

df_selic.head()

# organizando valores da coluna data em ordem decrescente e atualizando diretamente no Dataframe

           data     valor data_extracao responsavel
9234 2023-04-05  0.050788    2023-04-06      AUTORA
9233 2023-04-04  0.050788    2023-04-06      AUTORA
9232 2023-04-03  0.050788    2023-04-06      AUTORA
9231 2023-03-31  0.050788    2023-04-06      AUTORA
9230 2023-03-30  0.050788    2023-04-06      AUTORA

MÉTODO RESET_INDEX() E SET_INDEX()

In [ ]:
df_selic.reset_index(drop= True, inplace=True) #redefine o indice usando o padrão, sem manter a coluna anterior.

df_selic.head()

        data     valor data_extracao responsavel
0 2023-04-05  0.050788    2023-04-06      AUTORA
1 2023-04-04  0.050788    2023-04-06      AUTORA
2 2023-04-03  0.050788    2023-04-06      AUTORA
3 2023-03-31  0.050788    2023-04-06      AUTORA
4 2023-03-30  0.050788    2023-04-06      AUTORA

In [ ]:
lista_novo_indice = [f'selic_{indice}' for indice in df_selic.index]

print(lista_novo_indice[:5])

['selic_0', 'selic_1', 'selic_2', 'selic_3', 'selic_4']

In [ ]:
df_selic.set_index(keys=[lista_novo_indice], inplace=True) #utilizando método '.set_index()' para criar novos indices a partir da lista 'lista_novo_indice' como key

df_selic.head()

              data     valor data_extracao responsavel
selic_0 2023-04-05  0.050788    2023-04-06      AUTORA
selic_1 2023-04-04  0.050788    2023-04-06      AUTORA
selic_2 2023-04-03  0.050788    2023-04-06      AUTORA
selic_3 2023-03-31  0.050788    2023-04-06      AUTORA
selic_4 2023-03-30  0.050788    2023-04-06      AUTORA

In [ ]:
print(df_selic['valor'].idxmin())
print(df_selic['valor'].idxmax())

selic_8289
selic_8306

ETAPA DE EXTRAÇÃO DE INFORMAÇÕES

*Filtros com loc*

In [ ]:
df_selic.loc['selic_0'] # seleciona a Serie 'selic_0'

data             2023-04-05 00:00:00
valor                       0.050788
data_extracao    2023-04-06 00:00:00
responsavel                   AUTORA
Name: selic_0, dtype: object

In [ ]:
df_selic.loc[['selic_0', 'selic_4', 'selic_200']] # seleciona varias Series e cria um Dataframe

                data     valor data_extracao responsavel
selic_0   2023-04-05  0.050788    2023-04-06      AUTORA
selic_4   2023-03-30  0.050788    2023-04-06      AUTORA
selic_200 2022-06-21  0.049037    2023-04-06      AUTORA

In [ ]:
df_selic.loc[:'selic_5'] # slice para selecionar Series até 'selic_5', formando um Dataframe

              data     valor data_extracao responsavel
selic_0 2023-04-05  0.050788    2023-04-06      AUTORA
selic_1 2023-04-04  0.050788    2023-04-06      AUTORA
selic_2 2023-04-03  0.050788    2023-04-06      AUTORA
selic_3 2023-03-31  0.050788    2023-04-06      AUTORA
selic_4 2023-03-30  0.050788    2023-04-06      AUTORA
selic_5 2023-03-29  0.050788    2023-04-06      AUTORA

In [ ]:
df_selic.loc[['selic_0', 'selic_4', 'selic_200'], 'valor'] # propriedade 'loc', usando um parâmetro de coluna

selic_0      0.050788
selic_4      0.050788
selic_200    0.049037
Name: valor, dtype: float64

In [ ]:
df_selic.loc[['selic_0', 'selic_4', 'selic_200'], ['valor', 'data_extracao']] # propriedade 'loc', usando um parâmetro para filtrar duas colunas

              valor data_extracao
selic_0    0.050788    2023-04-06
selic_4    0.050788    2023-04-06
selic_200  0.049037    2023-04-06

*Filtro com iloc*

In [ ]:
df_selic.iloc[:5] # Filtra a partir da posição e não aceita parâmetro de coluna

              data     valor data_extracao responsavel
selic_0 2023-04-05  0.050788    2023-04-06      AUTORA
selic_1 2023-04-04  0.050788    2023-04-06      AUTORA
selic_2 2023-04-03  0.050788    2023-04-06      AUTORA
selic_3 2023-03-31  0.050788    2023-04-06      AUTORA
selic_4 2023-03-30  0.050788    2023-04-06      AUTORA

FILTROS COM TESTES BOOLEANOS

In [ ]:
teste = df_selic['valor'] < 0.01 # armazena os valores que satisfazem a condição em uma variável

print(type(teste))
teste[:5] # slice dos valores até a quinta posição

<class 'pandas.core.series.Series'>

selic_0    False
selic_1    False
selic_2    False
selic_3    False
selic_4    False
Name: valor, dtype: bool

In [ ]:
teste2 = df_selic['data'] >= pd.to_datetime('2020-01-01')
# teste lógico para datas maiores ou igual a '2020 - 01 - 01'
# a conversão 'pd.to_datetime' precisa ser feita, para a data não ser interpretada com string

print(type(teste2))
teste2[:5]

<class 'pandas.core.series.Series'>

selic_0    True
selic_1    True
selic_2    True
selic_3    True
selic_4    True
Name: data, dtype: bool

In [ ]:
teste3 = (df_selic['valor'] < 0.01) & (df_selic['data'] >= pd.to_datetime('2020-01-01'))

teste4 = (df_selic['valor'] < 0.01) | (df_selic['data'] >= pd.to_datetime('2020-01-01'))

# operadores lógicos na seleção dos valores que são armazenados em variáveis

print("Resultado do AND:\n")
print(teste3[:3])

print("Resultado do OR:\n")
print(teste4[:3])

Resultado do AND:

selic_0    False
selic_1    False
selic_2    False
dtype: bool
Resultado do OR:

selic_0    True
selic_1    True
selic_2    True
dtype: bool

*Filtro loc com condicional*

In [ ]:
filtro1 = df_selic['valor'] < 0.01

df_selic.loc[filtro1]

                 data     valor data_extracao responsavel
selic_517  2021-03-17  0.007469    2023-04-06      AUTORA
selic_518  2021-03-16  0.007469    2023-04-06      AUTORA
selic_519  2021-03-15  0.007469    2023-04-06      AUTORA
selic_520  2021-03-12  0.007469    2023-04-06      AUTORA
selic_521  2021-03-11  0.007469    2023-04-06      AUTORA
...               ...       ...           ...         ...
selic_703  2020-06-19  0.008442    2023-04-06      AUTORA
selic_704  2020-06-18  0.008442    2023-04-06      AUTORA
selic_8289 1990-03-16  0.000000    2023-04-06      AUTORA
selic_8290 1990-03-15  0.000000    2023-04-06      AUTORA
selic_8291 1990-03-14  0.000000    2023-04-06      AUTORA

[191 rows x 4 columns]

In [ ]:
# filtro loc com considicional e operadores lógicos
data1 = pd.to_datetime('2020-01-01')
data2 = pd.to_datetime('2020-01-31')

filtro_janeiro_2020 = (df_selic['data'] >= data1) & (df_selic['data'] <= data2)

df_janeiro_2020 = df_selic.loc[filtro_janeiro_2020] # filtro aplicado para valores de janeiro de 2020 armazenados em um DF
df_janeiro_2020.head()

                data     valor data_extracao responsavel
selic_797 2020-01-31  0.017089    2023-04-06      AUTORA
selic_798 2020-01-30  0.017089    2023-04-06      AUTORA
selic_799 2020-01-29  0.017089    2023-04-06      AUTORA
selic_800 2020-01-28  0.017089    2023-04-06      AUTORA
selic_801 2020-01-27  0.017089    2023-04-06      AUTORA

In [ ]:
data1 = pd.to_datetime('2019-01-01')
data2 = pd.to_datetime('2019-01-31')

filtro_janeiro_2019 = (df_selic['data'] >= data1) & (df_selic['data'] <= data2)

df_janeiro_2019 = df_selic.loc[filtro_janeiro_2019]
df_janeiro_2019.head()

                 data    valor data_extracao responsavel
selic_1050 2019-01-31  0.02462    2023-04-06      AUTORA
selic_1051 2019-01-30  0.02462    2023-04-06      AUTORA
selic_1052 2019-01-29  0.02462    2023-04-06      AUTORA
selic_1053 2019-01-28  0.02462    2023-04-06      AUTORA
selic_1054 2019-01-25  0.02462    2023-04-06      AUTORA

In [ ]:
print('Mínimo geral = ', df_selic['valor'].min())
print('Mínimo janeiro de 2019 = ', df_janeiro_2019['valor'].min())
print('Mínimo janeiro de 2020 = ',df_janeiro_2020['valor'].min(), '\n')

print('Máximo geral = ', df_selic['valor'].max())
print('Máximo janeiro de 2019 = ', df_janeiro_2019['valor'].max())
print('Máximo janeiro de 2020 = ',df_janeiro_2020['valor'].max(), '\n')

print('Média geral = ', df_selic['valor'].mean())
print('Média janeiro de 2019 = ', df_janeiro_2019['valor'].mean())
print('Média janeiro de 2020 = ',df_janeiro_2020['valor'].mean(), '\n')

Mínimo geral =  0.0
Mínimo janeiro de 2019 =  0.02462
Mínimo janeiro de 2020 =  0.017089

Máximo geral =  3.626
Máximo janeiro de 2019 =  0.02462
Máximo janeiro de 2020 =  0.017089

Média geral =  0.267367526258798
Média janeiro de 2019 =  0.024619999999999996
Média janeiro de 2020 =  0.017089000000000007

**Leitura de CV com Pandas**

In [ ]:
pd.read_csv("https://people.sc.fsu.edu/~jburkardt/data/csv/cities.csv").head()
# 1. Adota o método '.read_csv' para ler aquivo tipo comma-separated values
# 2. Aplica a função '.head()' para conhecer os cinco primeiros registros

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI